a {
  text-decoration: none;
  color: #000;
}

.btn {
  background-color: #d97652;
  outline: none;
  border: none;
  width: 140px;
  height: 50px;
  border-radius: 40px;
  color: #fff;
  line-height: 20px;
  font-size: 16px;
  font-weight: 700;
}
body {
  background: #fff;
}

.home {
  background-color: #f2e9d8;
  padding: 0 320px;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 102px;
  box-sizing: border-box;
}

nav {
  width: 394px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  width: 214px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  font-weight: 400;
  line-height: 20px;
  font-size: 16px;
}

.home-main {
  height: 798px;
  /* border: solid; */
}

.home-main section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  /* border: 1px solid; */
}

section article {
  width: 737px;
  height: 246px;
}

article h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 40px;
}

article p {
  width: 439px;
  height: 86px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 40px;
}
section img {
  margin-top: 23px;
}

/* about  */
.about {
  padding: 0 320px;
}

.about-main {
  /* border: 1px solid; */
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

figure {
  margin: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 390px;
  /* border: 1px solid; */
  width: 1280px;
  box-sizing: border-box;
}

.figure-container {
  box-sizing: border-box;
  width: 510px;
  /* margin: 110px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

figure img {
  box-sizing: border-box;
  /* margin-right: 80px; */
  width: 660px;
}

figcaption {
  font-size: 35px;
  font-weight: 700;
  height: 45px;
  vertical-align: center;
  /* width: 500px; */
  height: 135px;
  margin-bottom: 30px;
  line-height: 45px;
}

.figure-container p {
  line-height: 20px;
  font-size: 16px;
  margin-left: 20px;
  font-weight: 400;
  vertical-align: center;
}
