a {
  text-decoration: none;
  color: #000;
}

.btn {
  background-color: #d97652;
  outline: none;
  border: none;
  width: 140px;
  height: 50px;
  border-radius: 40px;
  color: #fff;
  line-height: 20px;
  font-size: 16px;
  font-weight: 700;
}
body {
  background: #fff;
}

.home {
  background-color: #f2e9d8;
  padding: 0 320px;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 102px;
  box-sizing: border-box;
}

nav {
  width: 394px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  width: 214px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  font-weight: 400;
  line-height: 20px;
  font-size: 16px;
}

.home-main {
  height: 798px;
  /* border: solid; */
}

.home-main section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  /* border: 1px solid; */
  height: 100%;
}

section article {
  width: 737px;
  height: 246px;
}

article h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 40px;
}

article p {
  width: 439px;
  height: 86px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 40px;
}
section img {
  margin-top: 50px;
  width: 415px;
  /* height: 850px; */
}

/* about  */
.about {
  padding: 0 320px;
}

.about-main {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  flex-direction: column;
}

figure {
  margin: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 390px;
  /* width: 1280px; */
  box-sizing: border-box;
  margin-bottom: 120px;
}

.figure-container {
  box-sizing: border-box;
  width: 510px;
  /* margin: 110px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

figure img {
  box-sizing: border-box;
  /* margin-right: 80px; */
  width: 660px;
}

figcaption {
  font-size: 35px;
  font-weight: 700;
  height: 45px;
  vertical-align: center;
  /* width: 500px; */
  height: 135px;
  margin-bottom: 30px;
  line-height: 45px;
}

.figure-container p {
  line-height: 20px;
  font-size: 16px;
  margin-left: 20px;
  font-weight: 400;
  vertical-align: center;
}

.about-desc {
  width: 929px;
  height: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: 88px;
}

.about-desc strong {
  color: #d97652;
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  vertical-align: center;
  margin-bottom: 40px;
}

.about-desc p {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  vertical-align: center;
}

.cat-list {
  width: 1278px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.cat-list img {
  width: 378px;
  height: 378px;
}

.cat-learn {
  width: 938px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 190px;
}

.cat-learn p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.support-main {
  width: 100%;
  height: 340px;
  background-image: url("/img/img_5.png");
  position: relative;
}

.subscribe {
  width: 1150px;
  height: 200px;
  background-color: #263140;
  border-radius: 30px;
  position: absolute;
  left: 313px;
  top: -100px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  padding: 50px 58px 50px 58px;
}

.subscribe-desc {
  width: 491px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subscribe-desc strong {
  font-weight: 700;
  font-size: 36px;
  color: #fff;
  line-height: 45px;
  margin-bottom: 4px;
}

.subscribe-desc p {
  color: #f2e9d8;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.email-container {
  width: 530px;
  height: 60px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 60px;
  box-sizing: border-box;
  padding-right: 5px;
}

.email-input {
  display: flex;
  width: 234px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin-left: 30px;
}

.email-input input {
  width: 192px;
  height: 20px;
  border: none;
  color: #767676;
  line-height: 20px;
  font-size: 16px;
  font-weight: 400;
}

.email-input::before {
  content: "";
  background: url("/img/mail.png") no-repeat;
  width: 24px;
  height: 24px;
}

footer {
  height: 160px;
  padding: 0 320px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

footer ul {
  width: 228px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
